[Desktop Entry]
Name=KVASD Installer v1.11
Comment=KVASD Utility
Exec=/usr/bin/kvasd-installer
Icon=kvasd-installer.xpm
Terminal=true
Type=Application
Categories=Network;Audio;HamRadio;
Keywords=WSJT;WSJTX;Decoder;Ham Radio;
StartupNotify=true



