[Desktop Entry]
Version=1.0
Type=Application
Name=Kvasd Installer v1.11
Comment=WSJT KVASD Utility
Exec=/usr/bin/wsjt-kvasd
Terminal=true
Categories=Network,Audio;HamRadio;
OnlyShowIn=GNOME;KDE;XFCE;LXDE;UNITY
Keywords=Scientific;Hamradio;Radio;Signal;Propogation;Whisper;WSJT;KVASD;
Icon=wsjt-kvasd.xpm
