[Desktop Entry]
Version=1.0
Type=Application
Name=WSPR v4.0
Comment=Weak Signal Propagation Reporter
Exec=/usr/bin/wspr
Terminal=false
Categories=Audio;AudioVideo;HamRadio
Keywords=Scientific;Hamradio;Radio;Signal;Propagation;Whisper;WSPR;WSJT;
Icon=wspr
StartupWMClass=Tk
